/*Added commonly used variables for color and font */
:root {
  --main-font-color: rgb(127, 127, 202);
  --header-nav-font-color: aquamarine;
  --header-background-color: rgb(82, 80, 80);
  --page-font: 'Times New Roman';
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}


.header {
  padding: 20px 20px 20px 0px;
  background-color: var(--header-background-color);
}

.header h1 {
  display: inline-block;
  font-family: var(--page-font);
  background-color: var(--header-nav-font-color);
  font-size: 48px;
  color: black;
  padding-left: 60px;

}

.header nav {
  float: right;
  font-family: var(--page-font);
  padding: 15px;
  background-color: var(--header-background-color);
}

nav a {
  color: var(--header-nav-font-color);
  padding: 0px 10px 0px 10px;
  margin-right: 15px;
  border-color: var(--header-nav-font-color);
  border-bottom-style: solid;

}

.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: right;
}

.hero-banner h2 {
  display: inline-block;
  font-family: var(--page-font);
  padding: 10px 40px 10px 10px;
  margin-bottom: 10px;
  background-color: var(--header-nav-font-color);
}


#avatar img {
  height: 150px;
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--header-nav-font-color);
  margin: 100px 40px 10px;

}


#category-title {
  display: inline-block;
  color: var(--main-font-color);
  width: 20%;
  text-align: right;
  padding: 50px 10px 0px 0px;
  margin: 20px;

}

#category-content {
  width: 70%;
  display: inline-block;
  border-color: var(--main-font-color);
  padding-left: 20px;
  border-left-style: solid;

}

/* override nav colors */
#category-content nav a {
  color: var(--main-font-color);
  border-color: var(--main-font-color) ;  
}

#linkedIn-img {
  height: 25px;
}
/* Grid controlling */
#workGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "mp mp"
    "cs lw"
  ;
}

#mp {
  grid-area: mp;
  background-image: url(../images/cssCheatSheet.png);
}

#companySite {
  grid-area: cs;
  background-image: url(../images/02-portfolio-2.jpg);
}

#ledWall {
  grid-area: lw;
  background-image: url(../images/02-portfolio-1.jpg);
}

/* Grid Card with border containing project*/
.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  border-width: 5px;
  border-color: var(--header-nav-font-color);
  border-style: solid;
  transition: all 0.5s ease-in-out;
}

/* Focus on Hover */
.workGridArea:hover{
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.heading {
  width: 30%;
  background-color: var(--header-nav-font-color);
  padding: 20px;
  margin: 30px 0px 30px 0px;
  color: var(--main-font-color);
}
/* Adjust elements for smaller screen size */
@media only screen and (max-width: 900px) {

  /* Change layout to vertical from horizontal for Menu and contact links */
  .header h1{
    display: block;
  }
  .header nav{
    float: left;
    width: 100%;
  }
    nav a{
     display: block;
  }

  /* Change layout to single colmun  */
  #workGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "mp"
      "cs"
       "lw"
    ;
  }

  #category-title{
    display: block;
    text-align: left;
  }
}